{% extends 'base.html' %}
{% block title %} {% for item in item %} Item: |{{item}}| {% endfor %} {% endblock %}
{% block content %}

{% for item in item %}
    <h3>Name of Item: {{item}}<br></h3>
    Description of Item: {{item.description}}<br>
    Modification to Attack: {{item.modification_to_attack}}<br>
    Item bonuses to Life: {{item.bonuses_to_life}}<br><br>
{% endfor %}

{% if is_paginated %}
<div class="paginator"><br>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">First</a>
    {% endif %}

    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <span> |{{ i }}| </span>
      {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Last</a>
    {% endif %}

{% endif %}
</div>

{% endblock %}
